@import "navigation.css";
@import "hover-animation.css";

body {
  box-sizing: border-box;
  background-image: url(../images/cclogobg.jpg);
}

#preloader {
  text-align: center;
  margin-top: 100px;
  font-size: 40px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

/* space for top navigation */
.container {
  margin-top: 85px !important;
  margin: auto;
  text-align: center;
  padding: 20px 5px;
  background-color: white;
}

#noRecords {
  background-color: #f8f9fa;
  border-radius: 5px;
  color: #7399ea;
  font-size: 36px;
  margin: auto;
  margin-top: 150px !important;
  max-width: 700px;
  padding: 15px;
  text-align: center;
}

.shadow {
  -webkit-box-shadow: 3px 3px 5px 3px #ccc; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 3px 3px 5px 3px #ccc; /* Firefox 3.5 - 3.6 */
  box-shadow: 3px 3px 5px 3px #ccc; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
