/* entire company item */
.company-container {
  border: 1px solid rgb(209, 208, 208);
  padding: 0px;
  margin: 0 10px 20px 10px;
  padding-bottom: 20px;
}

.company-name {
  font-weight: bold;
  color: rgb(96, 96, 97);
  margin: 0;
  padding: 10px 0;
  background-color: rgb(248, 244, 244);
  border-bottom: 1px solid rgb(231, 228, 228);
}

/* company logo */
.logo-container {
  align-items: center;
  padding: 10px;
}

.company-job-title {
  margin-top: 10px;
  margin: auto;
  padding: 5px;
  background-color: rgb(231, 228, 228);
  border-top: 1px solid #7399ea;
  border-bottom: 1px solid #7399ea;
}

/* body text - the bullet items */
.body-container {
  max-width: 320px;
  margin: 20px auto;
  text-align: left;
  font-size: 14px;
}

.company-screenshot {
  max-width: 320px;
  margin-bottom: 50px;
}

.employment-dates {
  position: absolute;
  width: 100%;
  bottom: 0;
  font-size: 12px;
  padding: 10px;
  border-top: 1px solid rgb(231, 228, 228);
  background-color: rgb(248, 244, 244);
}

.employment-type {
  font-size: 10px;
  font-style: italic;
}

@media (max-width: 650px) {
  .company-container {
    margin-top: 40px;
  }
}
