/* entire company item */
.company-container {
  border: 1px solid rgb(209, 208, 208);
  padding: 0px;
  margin: 0 10px 20px 10px;
  padding-bottom: 20px;
}

.company-name {
  color: rgb(96, 96, 97);
  margin: 0;
  padding: 10px 0;
  background-color: rgb(231, 228, 228);
  border-bottom: 1px solid rgb(231, 228, 228);
}

/* company logo */
.logo-container {
  align-items: center;
  padding: 10px;
}

.company-job-title {
  margin-top: 10px;
  margin: auto;
  padding: 5px;
  background-color: rgb(248, 244, 244);
}

/* body text - the bullet items */
.body-container {
  max-width: 320px;
  margin: 20px auto;
  text-align: left;
  font-size: 14px;
}

.company-screenshot {
  max-width: 320px;
  margin-bottom: 50px;
}

.employment-dates {
  position: absolute;
  width: 100%;
  bottom: 0;
  font-size: 12px;
  padding: 10px;
  background-color: rgb(248, 244, 244);
}

.employment-type {
  font-size: 10px;
  font-style: italic;
}

@media (max-width: 1000px) {
  #msg {
    margin-top: -15px;
  }
  .container {
    margin-top: 90px !important;
  }

  .skills-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 800px) {
  .skills-container {
    grid-template-columns: 1fr;
  }
  /* #msg {
    margin-top: 5px;
  } */
}

@media (max-width: 700px) {
  .container {
    margin-top: 125px !important;
  }
}
