/**
 * Skills page
 */

.skills-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1px;
}

.skills-container h2 {
  font-size: 14px;
}

.skill-box {
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
}

.skill-date {
  font-size: 12px;
}

@media (max-width: 992px) {
  .skills-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 800px) {
  .skills-container {
    grid-template-columns: 1fr;
  }
}
