@import 'navigation.scss';
@import 'hover-animation.css';

body {
  box-sizing: border-box;
  background-image: url(../images/cclogobg.jpg);
}

#logo > img {
  padding: 5px;
}

#logo > img:hover {
  border: 1px dashed $main_color;
}

#preloader {
  text-align: center;
  margin-top: 140px;
  font-size: 26px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

#preloader > img {
  width: 90px;
}

/* space for top navigation */
.container {
  margin-top: 80px !important;
  margin: auto;
  text-align: center;
  padding: 20px 5px;
  background-color: white;
}

#noRecords {
  background-color: #f8f9fa;
  border-radius: 5px;
  color: #7399ea;
  font-size: 36px;
  margin: auto;
  margin-top: 150px !important;
  max-width: 700px;
  padding: 15px;
  text-align: center;
}

a:link {
  color: #000;
  text-decoration: none;
}

#msg {
  margin: auto;
  width: 300px;
  text-align: center;
  margin-top: -25px;
  font-size: 12px;
}

.shadow {
  -webkit-box-shadow: 3px 3px 5px 3px #ccc; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 3px 3px 5px 3px #ccc; /* Firefox 3.5 - 3.6 */
  box-shadow: 3px 3px 5px 3px #ccc; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

/* override the featherlight lightbox arrows */
.featherlight-next span,
.featherlight-previous span {
  font-size: 34px;
  width: 35px;
}

/* About page */
.about p {
  text-align: left !important;
  padding: 5px 100px;
}

.about h1 {
  color: rgb(96, 96, 97);
  margin: 20px 10px;
}

#workstation-comparison {
  text-align: center !important;
}

@media (max-width: 800px) {
  /* About page */
  .about p {
    padding: 5px 80px;
  }
}

@media (max-width: 700px) {
  .about {
    margin-top: 70px !important;
  }

  .about p {
    padding: 5px 30px;
  }

  #search-container {
    float: none;
    margin: 0 0 5px 0px;
  }

  .navbar-nav {
    justify-content: space-between;
    width: 90%;
  }

  .nav-item {
    display: flex;
    justify-content: left;
    width: 60px;
    margin-left: 15px;
  }
}
