@import 'variables.scss';

.container {
  margin-top: 95px !important;
}

.courses-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1px;
  justify-items: center;
  text-align: center;

  /* course title */
  h2 {
    font-size: 14px;
    color: $item_text;
  }
}

.course-box {
  padding: 20px;
  margin: 0 0 20px 0;
  img {
    max-width: 400px;
  }
}

.course-date {
  font-size: 12px;
}

@media (max-width: 1200px) {
  .courses-container {
    grid-template-columns: 1fr 1fr;
  }
  .course-box {
    padding: 20px 50px;
  }
}

@media (max-width: 1000px) {
  #msg {
    margin-top: -15px;
  }
  .course-box {
    padding: 20px 25px;
  }
}

@media (max-width: 800px) {
  #msg {
    margin-top: 5px;
  }
  .container {
    margin-top: 110px !important;
  }

  .courses-container {
    grid-template-columns: 1fr;
  }
  .course-box {
    padding: 20px 50px;
    margin-bottom: 20px;
  }
}

@media (max-width: 700px) {
  .container {
    margin-top: 145px !important;
  }
}

@media (max-width: 500px) {
  .container {
    margin-top: 165px !important;
  }
  .course-box {
    padding: 10px !important;
    img {
      max-width: 90%;
    }
  }
}
