.courses-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1px;
}

/* course title */
.courses-container h2 {
  font-size: 14px;
}

.course-box {
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
}

.course-date {
  font-size: 12px;
}

@media (max-width: 1000px) {
  .courses-container {
    grid-template-columns: 1fr 1fr;
  }
  #msg {
    margin-top: -15px;
  }
}

@media (max-width: 800px) {
  .container {
    margin-top: 110px !important;
  }

  .courses-container {
    grid-template-columns: 1fr;
  }

  #msg {
    margin-top: 5px;
  }

  .course-box {
    max-width: 400px;
    padding: 5px;
    margin: 0px;
  }
}

@media (max-width: 700px) {
  .container {
    margin-top: 130px !important;
  }
}
