@import 'variables.scss';

#logo img {
  height: 60px;
}

.navbar {
  border-bottom: 2px solid $main_color;
  display: block;

  /* force nav to stay horizontal */
  .navbar-nav {
    flex-direction: row;

    /* align items vertically*/
    .nav-item {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      padding: 0px 5px;
      width: 80px;
    }
    .nav-item-active,
    .nav-item:hover {
      font-weight: bold;
      color: $main_color !important;
    }
  }
} // .navbar

#search-container {
  float: right;
  margin: -55px 30px 0 0;
  display: none;
  padding: 0px;
  width: 280px;
  text-align: center;
  #searchCount {
    font-size: 12px;
    text-align: right;
    margin-right: 5px;
  }

  .input-wrapper {
    display: inline-block;
  }

  /* search textbox */
  #searchSite {
    width: 130px;
  }

  /* search button */
  .searchBtn {
    padding: 3px;
    margin-top: -3px;
    font-size: 12px;
    border-radius: 5px;
    box-shadow: 0 2px #999;
  }

  .searchBtn:hover {
    color: #fff;
    box-shadow: 0 0 #fff;
    background-color: $main_color;
  }

  #pagination {
    text-align: center;
    margin: 5px -32px 0 0;
    a {
      color: #ffffff;
    }
    /* next / prev text */
    .pager-navigation {
      background-color: $main_color;
      margin: 0px 5px;
      padding: 1px 10px;
      font-size: 12px;
    }
    .disabled {
      color: rgb(61, 60, 60);
      background-color: rgb(202, 201, 201) !important;
    }
  }
} // #search-container

#pagination-footer {
  width: 100%;
  position: fixed;
  padding: 3px;
  text-align: center;
  background-color: red !important;
}

.highlightSearchText {
  background-color: yellow;
}

@media (max-width: 700px) {
  .navbar-nav {
    justify-content: space-between;
    width: 90%;
    .nav-item {
      display: flex;
      justify-content: left;
      width: 60px;
      margin-left: 15px;
    }

    #searchSite {
      width: 120px;
    }
  }

  #search-container {
    text-align: center;
    float: none;
    width: 100%;
    padding: 5px 0;
    margin-top: 0px;
    #pagination {
      padding-left: 0;
      margin: 0 0 0 20px;
    }
  }
}

@media (max-width: 500px) {
  #logo img {
    height: 50px;
  }
  #pagination {
    /* next / prev text */
    .pager-navigation {
      font-size: 12px;
      margin: 0;
    }
  }

  #pagination {
    margin-left: 5px;
    .pager-navigation {
      padding: 5px 3px;
      margin: 0;
    }
  }
}

@media (max-width: 400px) {
  .navbar {
    .navbar-nav {
      width: 100%;
      margin-left: -7px !important;
      .nav-item {
        margin-left: -2px;
        font-size: 14px;
      }
    }
  }

  #paging-info {
    font-size: 10px;
  }

  #search-container {
    #pagination {
      margin-left: 5px;
      .pager-navigation {
        padding: 5px;
        margin: 0;
      }
    }
    #searchSite {
      width: 100px;
    }
  }
}
