@import 'variables.scss';

#logo img {
  height: 60px;
}

.navbar {
  border-bottom: 2px solid $main_color;
  display: block;

  /* force nav to stay horizontal */
  .navbar-nav {
    flex-direction: row;

    /* align items vertically*/
    .nav-item {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      padding: 0px 5px;
      width: 80px;
    }
    .nav-item-active,
    .nav-item:hover {
      font-weight: bold;
      color: $main_color !important;
    }
  }
} // .navbar

#search-container {
  float: right;
  margin: -50px 40px 0 0;
  display: none;

  #searchCount {
    font-size: 12px;
    text-align: right;
    margin-right: 5px;
  }

  .input-wrapper {
    display: inline-block;
  }

  /* search textbox */
  #searchSite {
    width: 130px;
  }

  /* search button */
  .searchBtn {
    padding: 3px;
    margin-top: -3px;
    font-size: 12px;
    border-radius: 5px;
    box-shadow: 0 2px #999;
  }

  .searchBtn:hover {
    color: #fff;
    box-shadow: 0 0 #fff;
    background-color: $main_color;
  }

  #pagination {
    text-align: center;
    /* next / prev text */
    .pager-navigation {
      margin: 5px 5px 0px 5px;
    }
  }

  .disabled {
    color: grey !important;
  }
} // #search-container

.highlightSearchText {
  background-color: yellow;
}

@media (max-width: 700px) {
  .navbar-nav {
    justify-content: space-between;
    width: 90%;
    .nav-item {
      display: flex;
      justify-content: left;
      width: 60px;
      margin-left: 15px;
    }
  }

  #search-container {
    text-align: center;
    float: none;
    width: 100%;
    padding: 5px 0;
    margin-top: 0px;
    #pagination {
      padding-left: 0;
    }
  }
}

@media (max-width: 500px) {
  #logo img {
    height: 50px;
  }
  #pagination {
    /* next / prev text */
    .pager-navigation {
      font-size: 12px;
      margin: 0;
    }
  }
}
